<% provide :title, @forum.name%>
<% content_for :breadcrumb do%>
<% @breadcrumbs = {'Forums' => forums_path, @forum.category.name => '#', @forum.name => forum_path(@forum)}%>
<% end -%>
<div class="navbar ">
	<div class="navbar-inner">
		<span class="brand"><%= @forum.name%></span>
		<ul class="nav">
			<li><%= link_to 'New Topic', new_topic_path(forum_id: @forum.id)%></li>
		</ul>
		<form action="" class="navbar-search pull-right">
			<input type="text" placeholder="Search- TODO" class="search-query span2">
		</form>
	</div>
</div>
<% if @forum.topics.count == 0 %>
<h2>Sorry, no topics in this forum.</h2>
<% else %>
<table class="table table-condensed table-hover">
	<thead>
		<th></th>
		<th>Title</th>
		<th>Author</th>
	</thead>
	<% @forum.topics.each do |t|%>
	<tr>
		<td></td>
		<td style="vertical-align: middle;">
			<%= link_to t.title, topic_path(t.id) %>
		</td>
		<td>
			<%= render partial: 'users/user_row', locals: {user: t.author} %>
			<%= render partial: 'forums/control_box', locals: {topic: t}%>
		</td>
	</tr>
	<% end -%>
</table>
<% end -%>
