<div class="row-fluid">
	<div class="span3 text-center ">
		<a href="#" class="btn"> <i class="icon-envelope"></i> Send message </a>
	</div>
	<div class="span9">
		<%= get_gravatar_for(@user, nil, "img-polaroid pull-right")%>
		<h1 ><%= @user.username.capitalize %></h1>
		
		<a href="#" class="label" style="background-color:  <%= @user.role.color%>">
			<%= @user.role.adjective %>
		</a>
		<br />
		<br />
		<h3>Personal Information</h3>
		<dl class="dl-horizontal">
			<dt>
				Registration Date
			</dt>
			<dd>
				<%= @user.created_at%>
			</dd>
			<dt>
				Birthday
			</dt>
			<dd>
				<!-- TODO -->
				<small>Not Yet Implemented</small>
			</dd>
			<br/>

		</dl>
		<div class="row-fluid">
			<div class="span6">
				<h3>Forum Statistics</h3>
				<dl class="dl-horizontal">
					<dt>
						# of Threads
					</dt>
					<dd>
						<%= @user.forum_threads.count%> <%= link_to 'watch', '#', class: 'btn btn-mini pull-right'%>
					</dd>
					<br />
					<dt>
						# of Comments
					</dt>
					<dd>
						<%= @user.forum_comments.count%> <%= link_to 'watch', '#', class: 'btn btn-mini pull-right'%>
					</dd>
				</dl>
			</div>
			<div class="span6">
				<h3>Blog Statistics</h3>
				<dl class="dl-horizontal">
					<dt>
						# of Threads
					</dt>
					<dd>
						<%= @user.forum_threads.count%> <%= link_to 'watch', '#', class: 'btn btn-mini pull-right'%>
					</dd>
					<br />
					<dt>
						# of Comments
					</dt>
					<dd>
						<%= @user.forum_comments.count%> <%= link_to 'watch', '#', class: 'btn btn-mini pull-right'%>
					</dd>
				</dl>
			</div>
		</div>
		<% if !@user.signature.nil? && !@user.signature.empty? %>
			<hr />
			<%= @user.signature%>
		<%end%>
	</div>
</div>
