<% content_for :breadcrumb do%>
	<% @breadcrumbs = {'Forums' => forums_path, @thread.forum.category.name => forums_category_path(@thread.forum.category.id), @thread.forum.name => forum_view_path(@thread.forum.id), 'New Thread' => '#'}%>
<% end -%>
<div class="row">
	<div class="span10 offset1">
		<%= form_for @thread, url: {controller: :threads, action: :create } do |f| %>
			<%= f.hidden_field :forum_id, value: @thread.forum.id %>
			<%= f.label :title %>
			<%= f.text_field :title %>
		
			<%= f.text_area :body, size: '3x3' %>
			
			<%= f.submit "Create thread", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
