<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Hephaestus", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Home",    root_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Forum",    forums_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Users",    users_path %>
					</li>
					<li class="divider-vertical"></li>
					<% if user_signed_in? %>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="<%= user_path(current_user)%>"> <%= get_gravatar_for(current_user, 24)%>
								Profile </a>
							</li>
							<li>
								<%= link_to "Settings", '#' %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Logout", logout_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<%else%>
					<li>
						<%= link_to "Sign in", login_path %>
					</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
