#-------------------------------------------------------------------------------
# Copyright (c) 2013 Gilad Naaman.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the GNU Public License v3.0
# which accompanies this distribution, and is available at
# http://www.gnu.org/licenses/gpl.html
# 
# Contributors:
#     Gilad Naaman - initial API and implementation
#-------------------------------------------------------------------------------
<!DOCTYPE html>
<html>
	<head>
		<title>Hephaestus - <%= yield :title%></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>
		<div class="full-height-wrapper">
			<%= render 'layouts/header' %>

			<div class="container main-display">
				<%= yield :breadcrumb%>
				<% @breadcrumbs ||= {}%>
				<% if not @breadcrumbs.empty?%>
				<%= render 'layouts/breadcrumb' %>
				<% end -%>
				
				<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>

				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
